<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <!-- 加载jar中文件 -->
    <import resource="classpath*:spring/spring-*.xml"/>
    <import resource="spring-config-datasource.xml"/>
    <import resource="spring-config-dubbo-provider.xml"/>
    <import resource="spring-config-dubbo-consumer.xml"/>
    <import resource="spring-config-kafka.xml"/>
    <import resource="spring-config-mq.xml"/>
    <import resource="spring-kafkaconsume.xml"/>
    <import resource="spring-xxl-job.xml"/>
</beans>