<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <bean id="mqCousumeActiveOrderListener" class="com.foriseland.ec.mq.listener.MqCousumeActiveOrderListener"/>

    <!--订阅配置-->
    <bean class="com.foriseland.ec.mq.consumer.ActiveOrderShareOrderConsumer">
        <property name="consumerGroup" value="MQ_ORDER_CONSUMER_GROUP_1"/>
        <property name="topic" value="MQ_ORDER_PAY_CALLBACK_TOACT_TOPIC_1"/>
        <property name="tags" value="MQ_ORDER_PAY_CALLBACK_TOACT_TAGS_1"/>
        <property name="namesrvAddr" value="${rocketmq.namesrvAddr}"/>
        <property name="messageListener" ref="mqCousumeActiveOrderListener"/>
    </bean>


    <bean id="mqCousumerActiveSubsidyListener" class="com.foriseland.ec.mq.listener.MqCousumerActiveSubsidyListener"/>

    <!--订阅配置-->
    <bean class="com.foriseland.ec.mq.consumer.AcitveSubsidyConsumer">
        <property name="consumerGroup" value="MQ_ACTIVE_CONSUMER_GROUP"/>
        <property name="topic" value="FL_FINANCE_SETTLEMENT_TOPIC"/>
        <property name="tags" value="FL_FINANCE_SETTLEMENT_TAGS"/>
        <property name="namesrvAddr" value="${rocketmq.namesrvAddr}"/>
        <property name="messageListener" ref="mqCousumerActiveSubsidyListener"/>
    </bean>

    <!-- 接收类型为 com.alibaba.rocketmq.client.producer.MQProducer-->
    <bean class="com.foriseland.ec.active.common.Producer">
        <property name="producerGroup" value="MQ_ACTIVE_CONSUMER_GROUP_1"/>
        <property name="namesrvAddr" value="${rocketmq.namesrvAddr}"/>
    </bean>

</beans>